latex_mend/apacitation.aux
latex_mend/apacitation.bbl
latex_mend/apacitation.bcf
latex_mend/apacitation.blg
latex_mend/apacitation.fdb_latexmk
latex_mend/apacitation.fls
latex_mend/apacitation.log
latex_mend/apacitation.pdf
latex_mend/apacitation.run.xml
latex_mend/auto/
latex_mend/basic.aux
latex_mend/basic.fdb_latexmk
latex_mend/basic.fls
latex_mend/basic.log
latex_mend/basic.pdf
latex_mend/basic.synctex.gz
latex_mend/dissertation.aux
latex_mend/dissertation.fdb_latexmk
latex_mend/dissertation.fls
latex_mend/dissertation.lof
latex_mend/dissertation.log
latex_mend/dissertation.lot
latex_mend/dissertation.pdf
latex_mend/dissertation.synctex.gz
latex_mend/dissertation.toc
latex_mend/examples/auto/
latex_mend/examples/bib.aux
latex_mend/examples/bib.bbl
latex_mend/examples/bib.bcf
latex_mend/examples/bib.blg
latex_mend/examples/bib.fdb_latexmk
latex_mend/examples/bib.fls
latex_mend/examples/bib.log
latex_mend/examples/bib.pdf
latex_mend/examples/bib.run.xml
latex_mend/examples/bib.synctex.gz
latex_mend/examples/ieee.aux
latex_mend/examples/ieee.bbl
latex_mend/examples/ieee.blg
latex_mend/examples/ieee.fdb_latexmk
latex_mend/examples/ieee.fls
latex_mend/examples/ieee.log
latex_mend/examples/ieee.pdf
latex_mend/examples/ieee.synctex.gz
latex_mend/examples/tables.aux
latex_mend/examples/tables.fdb_latexmk
latex_mend/examples/tables.fls
latex_mend/examples/tables.log
latex_mend/examples/tables.lot
latex_mend/examples/tables.pdf
latex_mend/examples/tables.synctex.gz
